.contactUsSpan {
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contactUsSubSpan {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #cb8461;
}

.phone {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.findUsFont {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
