.contactUsSpan {
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contactUsSubSpan {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #cb8461;
}

.phone {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.findUsFont {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.formName {
  color: #215d4f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nameplaceholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.messagePlaceholder {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
