body {
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 40px;
    font-weight: 600;
    color: #2c444e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading::after {
    content: "";
    width: 450px;
    height: 4px;
    border-radius: 1px;
    bottom: -20px;
    background-color: #2c444e;
    position: absolute;
}

.form_container {
    display: flex;
    margin-top: 45px;
    width: 1090px;
    height: 550px;
    background-color: white;
    box-shadow: 3px 4px 36px -6px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-bottom: 60px; 

}

.left {
    flex: 1.5;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.img {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}


.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.from_heading {
    font-size: 20px;
    font-weight: 600;
    color: #2F8886;
    margin-bottom: 5px;
}

.fromm_heading {
    font-size: 20px;
    font-weight: 1000;
    color: #2F8886;
    margin-bottom: 5px;
}

.input {
    width: 320px;
    height: 35px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border: 1px solid #2c444e;
    border-radius: 2px;
    font-size: 13px;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 140px;
    color: white;
    background-color: #2F8886;
    border-radius: 12px;
    margin: 10px 0 0 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.text {
    font-size: 14px;
    color: #2c444e;
    margin: 5px 0;
    padding: 0;
}

.text>a {
    font-size: 16px;
    font-weight: 500;
    color: #2F8886;
}

.google_btn {
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #2c444e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.apple_btn {
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #2c444e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.google_btn>img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.apple_btn>img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.google_btn>span {
    margin-left: 10px;
}

.container {
    background-color: #2F8886;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.buttons_container {
    margin-top: 1px;
}

.join_button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: #2c444e;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    outline: none;
}

.selected {
    background-color: #2F8886;
    color: white;
}



.heading_container {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    margin-top: 10px;
}

.text_span {
    font-size: 14px;
    color: #2c444e;
    margin: 5px 0;
    padding: 0;
    margin-right: 65px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.text_span>a {
    font-size: 10px;
    font-weight: 500;
    color: #2F8886;
}

.google_btn + .google_btn {
  margin-bottom: 20px;
}

.checkbox_container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #2c444e;
    margin-top: 20px;
  }
  
  .checkbox {
    margin-right: 8px;
    transform: scale(1.5); 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #2c444e;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    outline: none;
    cursor: pointer;
  }
  

  
  .checkbox:checked{
    background-color: #2c444e;
  }