/* minHeight:"850px", */

.my_container{  
    overflow-x:hidden;
    background-color: #215D4F;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 90%, 0 80%);
    border-radius:15px;
    /* position: absolute; */
    /* top: 939px; */
    /* left: 70px;  */
    /* width: 1300px; */
    width:95%;
    margin-top: 20px;    
 }
 
 
 .points_to_learn_div{    
     /* display: flex; */
     /* align-items: center;
     justify-content: center; */
     width: 60%;
     margin-top: 5px;
     /* height: 86px; */
 }
 
 .points_to_learn_div h1{
     font-size: 20px;
     font-weight: bold;
 }
 
 .points_to_learn_div p{
     font-size: 13px;
     padding: 10px 0px 10px 0px;
     line-height: 20px;
 }
 
 .points_to_learn_div img{
     position: relative;
     top: -5px;
     height: 35px;
     width: 47px;
 }
 
 
 .choose_python_div{
     background-color: white;
     /* min-height: fit-content; */
     min-height: 300px;
     width: 355px;
     /* height: 310px; */
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     /* justify-content: top; */
     align-items: center;
     padding: 5px;
     /* margin: 30px 5px 5px 10px; */
     margin-top: 30px;
   
    
 }
 
 
 .choose_python_div img{
     height: 48px;
     width: 42px;
     position: relative;
     top: -10%;
     /* left: 43%; */
 }
 
 
 .choose_python_div h1{
     color: #215D4F;
     font-weight: bold;
     font-size: 34px;
 }
 
 .choose_python_div p{
     font-size: 14px;
     line-height: 20px;
     color: #215D4F;
     padding: 10px;
 }
 
 
 
 
 
 
 /* SelectPlanComponent */
 
 .cards_container{
     display:flex;
     justify-content:center;
     flex-wrap:wrap;
     gap:18px;
     position:relative;
     top:80px;
     color:#215D4F;
 }
 
 
 
 .buy_plans_div{
     background-color:white;
     border-radius: 10px;
     height:530px;
     overflow: hidden;   
     max-width:360px;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex:1 1 360px;
     /* margin: 10px 15px; */
     transition: 1s;
 }
 
 .buy_plans_div:hover{
     transform: scale(1.1);
     z-index: 2;
     background-color: #CB8461 !important;
     color: white;
     cursor: pointer;
 
 }
 
 .buy_plans_div:hover .my_btn{
     transition: 1s;
     color: #215D4F;
     background-color: white;
     font-weight: 700;
 }
 
 .buy_plans_div h1{
     margin:23px 0px 15px 0px;
     font-size:20px;
     font-weight:bold;
 }
 
 .buy_plans_div span{
     margin:0px 0px 8px 0px;
     font-size:35px;
     font-weight:bold;
 }
 
 .ul_div{
     padding:10px;
     height:280px;
     width:80%;
     font-size:12px;
 }
 
 .my_btn{
     background-color:#215D4F;
     color:white;
     width:200px;
     height:40px;
     border-radius:10px;
 }
 
 
 
 
 
 
 /* Learn Python Component */
 
 .learn_python_container{
     /* min-height:600px; */
     width:95%;
     /* display:flex; */
     /* flex-wrap:wrap; */
     /* justify-content:space-between; */
     gap:30px;
     margin-top: 7%;
     /* position: relative; */
     /* top:180px; */
     /* background-color:#CB8461 ; */
 }
 
 .ratings_div{
     display:flex;
     margin:25px 0px 10px 0px;
     font-size:25px;
     align-items:center;
 }
 
 .enroll_try_btn{
     display:flex;
     gap:13px;
     width:95%;
     margin-bottom:15px;
 }
 
 .enroll_try_btn button{
     height:47px;
     flex:1;
     border-radius:10px;
     font-size:17px;
 }
 
 .statistic_div{
     margin:10px 0px;
     min-height:95px;
     max-width:90%;
     display:flex;
     justify-content:space-around;
     align-items:center;
     /* border-top:2px solid#D9D9D9; */
 }
 
 .statistic_child_div{    
     display:flex;
     flex-direction:column;
     align-items:center;
 }
 
 .statistic_child_div h1{
     color:#215D4F;
     font-weight: bolder !important;
     font-size: 22px;
 }
 
 .statistic_child_div span{
     color:#a5a2a2;
 }
